// === Local font ===
@font-face {
	font-family: 'DINPro Light';
	font-style: normal;
	font-weight: normal;
	src: local('DINPro Light'), url('../fonts/DINPro-Light tr.woff') format('woff');
}

@font-face {
	font-family: 'DINPro Medium';
	font-style: normal;
	font-weight: normal;
	src: local('DINPro Medium'), url('../fonts/DINPro-Medium tr.woff') format('woff');
}

@font-face {
	font-family: 'DINPro Bold';
	font-style: normal;
	font-weight: normal;
	src: local('DINPro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}
// === / Local font ===