@import "variables";

// === Mixins ===
@mixin font-montserrat-bold{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}
@mixin font-montserrat-regular{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
@mixin font-dinPro-light{
	font-family: 'DINPro Light', sans-serif;
}
@mixin font-dinPro-medium{
	font-family: 'DINPro Medium', sans-serif;
}
@mixin font-dinPro-bold{
	font-family: 'DINPro Bold', sans-serif;
}
@mixin violet-button{
	border: none;
	outline: none;
	text-align: center;
	color: $color-white;
	background-color: $color-dark-violet;
	border-radius: 6px 6px 6px 6px;
}
// === / Mixins ===