@import "variables";
@import "mixins";

.modalAsk {
  background-color: $color-modal-background;
  padding-top: 176px;
  border-radius: 9px;
  padding-right: 190px;
  padding-left: 190px;
  overflow-y: auto;
  border: none;
  outline: none;

  @media (max-width: $xl-width) {
    padding-right: 120px;
    padding-left: 120px;
  }

  @media (max-width: $lg-width) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: $md-width) {

  }

  @media (max-width: $sm-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 340px) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .modal-content {
    span {
      text-align: right;
      padding-right: 18px;
      padding-top: 16px;
    }

    @media (max-width: $md-width) {

    }

    @media (max-width: $sm-width) {
      .closeBut img {
        width: 20px;
      }
    }

    @media (max-width: 340px) {
      .closeBut img {
        width: 15px;
      }
    }

    &-wrapper {
      margin: 78px 136px 130px 136px;

      @media (max-width: $xl-width) {

      }

      @media (max-width: $lg-width) {
        margin: 40px 100px;
      }

      @media (max-width: $md-width) {
      }

      @media (max-width: $sm-width) {
        margin: 20px 40px;
      }

      @media (max-width: 340px) {
        margin: 20px 20px;
      }

      &__img {
        text-align: center;
        img {
          width: 385px;
          height: 292px;
          @media (max-width: $md-width) {

          }

          @media (max-width: $sm-width) {
            max-width: 253px;
            width: 253px;
            height: auto;
          }

          @media (max-width: 340px) {
            max-width: 223px;
          }
        }

      }
      &__title{
        @include font-montserrat-regular;
        padding-top: 50px;
        text-align: center;
        color: $color-dark-violet;
        font-size: 28px;
        line-height: 34px;
      }
      &__text{
        text-align: center;
        padding-top: 21px;
        padding-bottom: 40px;
        div{
          @include font-dinPro-light;
          font-size: 16px;
          line-height: 20px;
          margin: 0 auto;
          color: #000000;
        }

      }
      label{
        @include font-dinPro-light;
        font-size: 16px;
        line-height: 20px;
        color: $color-blue;
        @media (max-width: $sm-width) {
          display: none;
        }
      }
      input, textarea, select{
        background: $color-form-background;
        border-radius: 3px;
        border: 0;
        outline: none;
      }
      select{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .select-container{
        position: relative;
      }
      .select-container:after{
        content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 ";
        position: absolute;
        background: url("../img/violetArrow.svg") no-repeat;
        width: 21px;
        height: 13px;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        pointer-events: none;
      }
      input[type=text], textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      ::-webkit-input-placeholder {
        color: #000000;
        opacity: 0.3;
        padding-top: 14px;

        @media (max-width: $sm-width) {
          font-size: 12px;
          padding-top: 0;
        }

        @media (max-width: 340px) {

        }

      }
      textarea {
        padding: 10px 20px;
      }
      textarea::-webkit-input-placeholder {
        padding-top: 0;
      }
      #question{
        height: calc(2.5em + 4.75rem + 2px);
      }
      button[type=submit]{
        @include font-dinPro-light;
        @include violet-button;
        height: 55px;
        width: 261px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        box-shadow: 0 7px 40px rgba(38, 34, 91, 0.4);
      }
      &__button{
        padding-top: 35px;
        text-align: center;
      }

      &__contacts {
        @include font-dinPro-bold;
        color: $color-dark-violet;
        font-size: 18px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;

        @media (max-width: $xl-width) {

        }

        @media (max-width: $lg-width) {

        }

        @media (max-width: $md-width) {
          flex-direction: column;
          margin-top: 40px;
          text-align: center;
        }

        @media (max-width: $sm-width) {
          font-size: 14px;
          margin-top: 50px;
        }

        @media (max-width: 340px) {

        }

        &__main {

          @media (max-width: $md-width) {
            margin-bottom: 25px;
          }

          @media (max-width: $sm-width) {
            margin-bottom: 35px;
          }

          @media (max-width: 340px) {

          }

          &-contact {
            margin-bottom: 15px;
          }
        }
        &__social {
          .last {
            margin-left: 25px;

            @media (max-width: $md-width) {
              margin-left: 50px;
            }

            @media (max-width: $sm-width) {

            }

            @media (max-width: 340px) {

            }
          }

          @media (max-width: $md-width) {

          }

          @media (max-width: $sm-width) {
            margin-bottom: 30px;
          }

          @media (max-width: 340px) {

          }
        }
      }

    }
  }

}
