@import "variables";
@import "fonts";
@import "mixins";
@import "services";

html, body{
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

body {
  position: relative;
  z-index: 0;
}
//.section-first{
//  height: 100vh;
//}

.div-shadow-wrapper {
  border-radius: 9px;
  box-shadow: 0 7px 40px rgba(117, 111, 191, 0.25);
  background: white;
}

.main-btn {
  font-family: 'DINPro Light', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline: none;
  text-align: center;
  color: $color-white;
  background-color: $color-dark-violet;
  border-radius: 6px;
  padding: 14px 61px 20px 61px;
  box-shadow: 0 7px 40px rgba(117, 111, 191, 0.65);
}

.header{
    height: $header-height;
    background-color: $color-dark-violet;
    width: 100vw;
  .section-header-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 275px;
    padding-right: 157px;
    align-items: center;

    //div span{
    //    padding: 10% 0;
    //    display: block;
    //}
    div a{
      color: $color-white;
      font-family: 'DINPro Light', sans-serif;
      font-size: 18px;
      text-decoration: none;
      display: block;
      margin: 10% 0;
    }
    div button{
      font-family: 'DINPro Medium', sans-serif;
      font-weight: bold;
      font-size: 18px;
      border-radius: 6px;
      text-decoration: none;
      border: none;
      background-color: $color-white;
      margin: 40px;
      padding-top: 8px;
      padding-bottom: 9px;
      text-align: center;
      color: $color-dark-violet;
      width: 160px;
      height: 40px;
      box-shadow: 0 4px 20px -6px $color-white;
    }
  }
}

.header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sticky + .section-intro {
  padding-top: $header-height;
}

.section-intro{

  &-wrapper{
    padding-top: 91px;

    display: flex;
  }
  &-left{
    width: 50%;
    padding-left: 160px;
    &__title{
      color: $color-dark-violet;
      font-size: 40px;
      width: 543px;
      line-height: 44px;
      &-bold{
        @include font-montserrat-bold;
      }
      &-regular{
        @include font-montserrat-regular;
      }
    }
    &__text{
      @include font-dinPro-light;
      width: 499px;
      height: 137px;
      padding-top: 13px;
      font-size: 18px;
      color: $color-dark-violet;
    }
    &__benefits{
      width: 543px;
      padding-top: 46px;
      display: flex;
      justify-content: space-between;

      &-rectangle{
        width: 163px;
        height: 134px;
        display: block;
        text-align: center;
        box-shadow: 0 7px 40px rgba(117, 111, 191, 0.25);
        border-radius: 9px;
        background-color: $color-white;
        &-img1 {
          padding-top: 11px;
        }
        &-img2{
          padding-top: 19px;
          padding-bottom: 8px;
        }
        &-img3 {
          padding-top: 22px;
          padding-bottom: 6px;
        }
        span{
          font-size: 16px;
        }

      }
    }
    &__call-me{
      padding-top: 37px;
      input{
        position: relative;
        display: inline-block;
        font-size: 18px;
        box-sizing: border-box;
        transition: .5s;
        box-shadow: 0 7px 40px rgba(117, 111, 191, 0.25);
      }
      input[type="text"]{
        background-color: white;
        height: 55px;
        width: 288px;
        border: none;
        outline: none;
        padding: 0 18px 0 24px;
        opacity: 30%;
        border-radius: 6px 0 0 6px;
      }
      button[type="submit"]{
        position: relative;
        height: 55px;
        width: 252px;
        border: none;
        outline: none;
        padding: 0 28px 0 29px;
        text-align: center;
        color: $color-white;
        background-color: $color-dark-violet;
        border-radius: 0 6px 6px 0;
        left: -5px;
      }
    }
  }
  &-right {
    width: 50%;
    &-img {
      width: 450px;
      height: 450px;
      border-radius: 9px;
      box-shadow: 0 7px 40px rgba(117, 111, 191, 0.25);
      img {
        padding: 30px 73px 35px 71px;
      }
    }
  }

}

.bg-element {
  //margin-top: 50px;
  width: 45%;

  &:nth-child(even) {
    margin-left: auto;
    transform: rotateY(180deg);
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: $header-height;
  }
}

// === Modals ===
.modalAsk {
  padding-top: 176px;
  border-radius: 9px;
  padding-right: 190px;
  padding-left: 190px;
  overflow-y: auto;
  .modal-content {
    align-items: center;
    &-wrapper {
      align-items: center;
      margin: 78px 136px 130px 136px;
      img {
        width: 385px;
        height: 292px;
      }
      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

      }
      ::-webkit-input-placeholder {
        color: #000000;
        opacity: 0.3;
        padding-top: 14px;
      }
      #question{
        height: calc(2.5em + 4.75rem + 2px);
      }

    }
  }

}
// === / Modals ===
