@import "variables";
@import "mixins";
#modalThanks {
  @media (max-width: $xl-width) {
    padding-top: 130px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: $sm-width) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .modal-content {

    span {
      img {
        @media (max-width: $sm-width) {
          width: 17px;
          height: 17px;
        }
      }
    }
  &-wrapper{
    margin-top: 30px;
    @media (max-width: $xl-width) {
      margin-top: 20px;
      margin-bottom: 80px;
    }
    @media (max-width: $sm-width) {
      margin: 7px 10px 20px;
    }
    @media (max-width: 340px) {
      margin-left: 0;
      margin-right: 0;
    }

    &__img{
      img{
        width: 440px;
        height: 273px;

        @media (max-width: $sm-width) {
          width: 227px;
          height: 141px;
        }
      }
    }
    &__title{
      @media (max-width: $xl-width) {
        padding-top: 30px;
      }
      @media (max-width: $sm-width) {
        padding-top: 20px;
        font-size: 22px;
      }

    }
    &__text{
      padding-left: 192px;
      padding-right: 192px;
      padding-bottom: 0;
      @media (max-width: $xl-width) {
        padding-top: 15px;
        padding-left: 110px;
        padding-right: 110px;
      }
      @media (max-width: $lg-width) {
        padding-left: 60px;
        padding-right: 60px;
      }
      @media (max-width: $md-width) {
        padding-left: 40px;
        padding-right: 40px;
      }
      @media (max-width: $sm-width) {
        padding-top: 10px;
        padding-left: 37px;
        padding-right: 37px;
      }
      @media (max-width: 340px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &__contacts{
      margin-top: 70px;
      @media (max-width: $xl-width) {
        margin-top: 20px;
      }
      @media (max-width: $sm-width) {
        margin-top: 61px;
      }
        &__social{
          img{
            width: 52px;
            height: 52px;
          }
          @media (max-width: $sm-width) {
            margin-bottom: 60px;
          }
        }
      //tried to add padding
      &__main{
        &-contact{
          div span {
            padding-right: 0;
            padding-top: 0;
          }
        }
      }
    }
  }
}


}
