// === Variables ===
$color-background: white; //#E5E5E5;
$color-dark-violet: #26225B;
$color-white: #FFFFFF;
$color-blue: #2D71F0;
$color-modal-background: rgba(38, 34, 91, 0.43);
$header-height: 120px;
$section-margin: 100px;
$section-padding: 33px;
// === / Variables ===