// === Variables ===
$color-background: white; //#E5E5E5;
$color-dark-violet: #26225B;
$color-white: #FFFFFF;
$header-height: 120px;
$section-margin: 100px;
$section-padding: 33px;
// === / Variables ===