// === Variables ===
$color-background: white; //#E5E5E5;
$color-dark-violet: #26225B;
$color-white: #FFFFFF;
$color-blue: #2D71F0;
$color-modal-background: rgba(38, 34, 91, 0.43);
$header-height: 120px;
$section-margin: 100px;
$section-padding: 33px;

// Small devices (landscape phones, 576px and up)
$sm-width: 576px;

// Medium devices (tablets, 768px and up)
$md-width: 768px;

// Large devices (desktops, 992px and up)
$lg-width: 992px;

// Extra large devices (large desktops, 1200px and up)
$xl-width: 1200px;

// === / Variables ===